/*--------------------------------------------------------------
#  Color Variables
--------------------------------------------------------------*/

:root {
	--color-salmon-2: rgba(223, 31, 44, 0.05);
	--color-salmon-3: rgba(223, 31, 44, 0.2);
	--color-salmon-4: rgba(223, 31, 44, 0.754);
	--color-salmon-5: #df1f2c;
	--color-white: #fff;
	--color-grey-0: #f8f8f8;
	--color-grey-1: #ebebeb;
	--color-grey-2: #d7d7d7;
	--color-grey-3: #7C869A;
	--color-grey-4: #494e59;
	--color-grey-6: #323232;
	--color-grey-7: #252525;
	--heading-color: #323232;
	--default-color: #3d4348;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-size: 18px;
	line-height: 1.5;
}

@media (max-width: 992px) {
	html {
		font-size: 14px;
	}
}

/* @media (max-width: 767px) {
	html {
		font-size: 14px;
	}
}

@media(max-width: 576px) {
	html {
		font-size: 12px;
	}
} */

.text-shadow-black {
	text-shadow: 1px 1px 2px black, -1px -1px 2px black;
}

a {
	text-decoration: none;
	transition: all 0.3s ease-out 0s;
}

a:hover {
	color: var(--color-salmon-5);
}

h1,
h2,
h3,
h4 {
	text-transform: capitalize;
	color: var(--heading-color);
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.2em;
}

h4 {
	font-size: 1em;
}

ul {
	list-style-type: none;
}

p {
	color: var(--color-grey-4);
	font-size: 1em;
	text-align: justify;
}

.bg_cover {
	background-position: center center;
	background-size: cover;
}

.text-salmon {
	color: var(--color-salmon-5);
}

.bg-salmon {
	background-color: var(--color-salmon-5);
}

.btn {
	border-radius: 0;
}

.btn-salmon {
	background-color: var(--color-salmon-5);
	color: white;
	border-radius: 0;
}

.btn-salmon:hover {
	background-color: var(--color-salmon-4);
	color: white;
}

.section-title {
	background-color: var(--color-salmon-5);
	color: white;
	display: inline-block;
	padding: 0.1em 0.5em;
}

.section-wrapper {
	max-width: 1000px;
	margin: 10vh auto;
}

.center-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.mt-6 {
	margin-top: 200px;
}

.pt-6 {
	padding-top: 200px;
}

.content-divider {
	margin-top: 60px;
	transition: 1s;
}

.filter-box {
	display: flex;
	justify-content: space-between;
}

.filter-box select {
	width: 200px;
	height: 40px !important;
}

@media(min-width: 991px) {
	.filter-box {
		width: 85%;
	}
}

.summary {
	text-align: justify;
}

/* ===================================== */
/* ************** search-modal *********** */
/* ===================================== */
/** btn */
.search {
	font-size: 1.5em;
	color: var(--color-salmon-5);
	z-index: 99999;
	cursor: pointer;
	position: fixed;
	margin-top: 10px;
	right: calc(50% + var(--sign) * (42% - 70px));
	top: 5px
}

/** Modal Box */
/** cover of page */
.search-modal {
	position: fixed;
	z-index: 99999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transition: 1s;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.hidden {
	opacity: 0;
	visibility: hidden;
}

/** search-box **/
.hidden .modal-content {
	width: 40%;
}

.modal-content {
	margin-top: 48px;
	width: 60%;
	box-shadow: 0px 3px 25px rgba(203, 207, 213, 0.3);
	transition: 1s;
}


@media (max-width:1199px) {
	.modal-content {
		width: 80%;
	}
}

.modal-content form {
	display: flex;
	align-items: center;
	column-gap: 10px;
	position: relative;
	background-color: var(--color-white);
	border: solid 1px var(--color-grey-2);
	padding: 10px 2%;
}

.modal-content input {
	border: solid 1px var(--color-grey-2);
	height: 40px;
	display: block;
	border: solid 1px var(--color-grey-1);
	width: 96%;
}

.modal-content input:focus {
	border: none;
	outline: none;
	border-bottom: solid 1px var(--color-grey-2);
}



@media (max-width:1199px) {}

/* ===================================== */
/* ***************** header **************** */
/* ===================================== */
#header-area {
	background-color: rgb(255, 255, 255);
	padding: 2px 6%;
	z-index: 99;
	position: fixed;
	border-bottom: solid 1px var(--color-grey-1);
}

.logo-wrapper img {
	width: 50px;
}

.lang-wrapper .btn {
	width: 80px;
	padding: 5px;
}

/* ===================================== */
/* ************** nav-bar *********** */
/* ===================================== */

.navbar {
	width: fit-content;
	margin: auto;
	position: sticky;
	top: 60px;
	z-index: 999;
	transition: top 0.5s;
	letter-spacing: calc(var(--sign) * -0.5px);
}

.navbar-nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 10px;
}

.nav-item {
	margin-left: 2px;
	text-transform: capitalize;
}

.nav-link,
.dropdown-item {
	background-color: var(--color-white);
	font-size: calc(10px + .35vw);
	min-width: calc(80px + var(--sign) * -1 * 40px);
	text-align: var(--align);
	transition: 0.2s;
	font-weight: 600;
}

.dropdown-item {
	padding: 5px 7px;
}

.navbar-nav>.nav-item>.nav-link {
	text-align: center;
	padding: 20px 7px;
}

.dropdown-menu {
	text-align: var(--align);
	border-radius: 0;
	border-top: none;
	position: absolute;
	box-shadow: 0px 3px 25px rgba(203, 207, 213, 0.3);
	background-color: var(--color-white);
	transition: 0.5s all !important;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a,
.navbar li:hover>button {
	color: #df1f2c;
	background-color: #fff;
}

.with-modal {
	top: 99px;
	transition: top 0.2s;
}

.sticky {
	top: 0px;
	transition: top 0.2s;
}

.sticky .navbar-nav>.nav-item>.nav-link {
	padding: 5px 7px;
}

.dropdown {
	padding: 0;
	font-weight: 600;
}

.dropdown button {
	width: 100%;
}

.navbar-nav .dropdown-menu {
	display: block !important;
	position: absolute;
}

/* main menu */
.dropdown .dropdown-menu {
	top: 97%;
}

.dropdown .dropdown-hidden {
	opacity: 0;
	visibility: hidden;
	top: calc(100% + 30px);
}

/*sub menu */
.dropdown .dropdown .dropdown-menu {
	left: 100%;
	top: 0;
}

.dropdown .dropdown .dropdown-hidden {
	opacity: 0;
	visibility: hidden;
	left: calc(100% - 30px);
}

@media (min-width:1200px) {	
	
	.menu-togggle {
		display: none;
	}
}

@media (max-width:1199px) {

	.navbar {
		position: fixed;
		top: 40px;
		left: 50%;
		transform: translateX(-50%);
		width: 60%;
	}

	.navbar-nav>.nav-item>.nav-link {
		padding: 5px 10px;
	}

	.nav-link,
	.dropdown-menu {
		padding: 1px 10px;
		text-align: var(--align) !important;
	}
}

/* ===================================== */
/* ************** cover-area *********** */
/* ===================================== */
#cover-area {
	height: 80vh;
	min-height: 400px;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: -98px;
}

#cover-area>* {
	z-index: 9;
	align-items: center;
}

/* ===================================== */
/* ******* statistic *********** */
/* ===================================== */

.single-counter {
	display: flex;
	flex-direction: column;
	gap: 10px;
	text-align: center;
	padding: 35px 10px;
}

.single-counter .counter {
	font-size: 1.5em;
}

.single-counter .icon {
	font-size: 3em;
	color: var(--color-salmon-5);
}

/* ===================================== */
/* ******* doing-list - area *********** */
/* ===================================== */


.doing-list-item a {
	display: block;
	text-align: center;
	background: #fff;
	padding: 50px 5%px 10px;
	margin-top: 20px;
	border: 1px solid var(--color-grey-2);
	box-shadow: 0px 3px 35px rgba(218, 222, 228, 0.3);
	padding-top: 10px;
}

.doing-list-wrapper a:hover {
	background-color: var(--color-salmon-5);
}

.doing-list-item a:hover h4 {
	color: #fff;
}

.doing-list-item h4 {
	white-space: wrap;
	height: 3em;
	font-size: 1em;
	text-align: center;
}

.doing-list-item svg {
	height: 100px;
}

.doing-list-item a:hover * {
	fill: white;
	stroke: black;
	stroke-width: 0.1;
	stroke-miterlimit: 10;
}

/* ===================================== */
/* ************** news *********** */
/* ===================================== */
.news-swipper .swiper-wrapper {
	column-gap: 0 !important;
}

.single-news {
	background: #fff;
	margin-bottom: 30px;
	border: 1px solid var(--color-grey-2);
	box-shadow: 0px 3px 35px rgba(218, 222, 228, 0.3);
	padding: 0;
	max-width: 220px;
	line-height: 1.3;
	font-size: calc(12px + 0.2vw);
	font-weight: 500;
	height: 340px;
	margin: auto;
}

.summary {
	color: #252525;
}

.single-news:hover {
	border-bottom: solid var(--color-salmon-5) 1px;
}

.single-news img {
	height: 150px;
	width: 100%;
	transition: all 0.3s ease-out 0s;
}

.h-70px {
	height: 70px;
}

.single-news img:hover {
	transform: scale(1.02);
	filter: grayscale(70%)
}

.sub-title {
	background-color: var(--color-salmon-5);
	color: white;
	padding: 5px;
	height: 2.9em;
	width: 70%;
}

/* ===================================== */
/* ************** stories-area *********** */
/* ===================================== */
.story-img {
	position: relative;
	left: calc(25px * var(--sign));
	bottom: 15px;
}

.story-img img {
	height: 310px;
	width: 100%;
}

.story-content {
	position: relative;
	right: calc(25px * var(--sign));
	top: 15px;
	font-weight: 500;
	font-size: 16px;
}

@media(max-width:767px) {

	.story-content,
	.story-img {
		position: static;
	}
}

/* ===================================== */
/* ******* campaign-area *********** */
/* ===================================== */
.campaign-content {
	height: 70vh;
	background-size: cover;
	background-position: center;
	flex-direction: column;
	text-align: center;
}

.title-wrapper {
	padding: 0 14%;
}

/* ===================================== */
/* ************** martyrs *********** */
/* ===================================== */
.single-martyr {
	border-radius: 50%;
	border: solid var(--color-salmon-5) 1px;
	background-color: white;
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	justify-content: center;
	text-align: center;
	box-shadow: 0px 0 20px rgba(0, 0, 0, 0.1);
	transition: 0.3s;
	padding: 30px;
	margin: 40px 30px;
	min-height: 250px;
	width: 250px;

}


#martyers .swiper-slide {
	opacity: 0.3;
	display: flex;
	justify-content: center;
}

.single-martyr p {
	text-align: inherit;
}

@media (min-width: 992px) {
	#martyers .swiper-slide-next {
		opacity: 1;
		transform: scale(1.12);
	}
}

@media (max-width: 991px) {
	#martyers .swiper-slide {
		opacity: 1;
		transform: scale(1.12);
	}
}

/* pagination */
#martyers .swiper-pagination {
	margin-top: 20px;
	position: relative;
}

#martyers .swiper-pagination .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background-color: color-mix(in srgb, var(--default-color), transparent 85%);
	opacity: 1;
}

#martyers .swiper-pagination .swiper-pagination-bullet-active {
	background-color: var(--color-salmon-5);
}

/*============================
************ footer ***********
============================= */
#footer-area {
	background: var(--color-grey-1);
	padding-top: 70px;
	color: var(--color-grey-7);
	border-top: solid 10px var(--color-grey-2);
}

.footer-widget {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.footer-widget h4 {
	color: var(--color-salmon-5);
}

.footer-widget a {
	color: var(--color-grey-6);
	font-weight: 500;
}

.about a {
	border-bottom: solid 2px var(--color-grey-2);
	display: inline-block;
	margin-bottom: 10px;
}

.footer-copyright {
	background-color: var(--color-grey-2);
}

.footer-copyright * {
	text-align: center;
}


/*============================
******* fixed button **********
============================= */
.fixed-button {
	position: fixed;
	z-index: 99999;
}

.fixed-button li {
	width: 35px;
	height: 35px;
	background: var(--color-grey-2);
	color: var(--color-grey-7);
	text-align: center;
	line-height: 35px;
	font-size: 20px;
	cursor: pointer;
	transition: all 0.3s ease-out 0s;
	margin-top: 2px;
}

.fixed-button li:hover {
	background-color: var(--color-salmon-5);
}

.fixed-button li:hover a {
	color: #fff;
}

.fixed-button a {
	color: var(--color-grey-7);
}

.back-to-top {
	bottom: 30px;
	right: 0px;
	display: none;
}

.active {
	display: block;
}

.fixed-social {
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

/* swiper */
.swiper-button-next,
.swiper-button-prev {
	color: var(--color-salmon-5);
}

/*richtext*/
.richtexteditor {
	width: 300px !important;
}

.view-cover {
	position: relative;
	bottom: 25px;
}

.view-wrapper {
	max-width: 1000px;
	margin: 0 auto;
	min-height: 70vh;
}

/***********************************************
*************** topic in search page*************
*************************************************/
.topic {
	display: flex;
	flex-wrap: wrap;
	border-bottom: dotted 1px grey;
	padding: 50px 0;

}

.topic:last-of-type {
	border-bottom: none;
}

.topic .topic-desc {
	width: 60%;
	font-size: 0.8em;
}

.topic .img-wrapper {
	width: 35%;
	position: relative;
}

.search-type {
	position: absolute;
	top: 0;
	right: 0;
	background-color: var(--color-salmon-5);
	color: var(--color-white);
	padding: 5PX 10px;
}

.topic img {
	width: 100%;
}

@media (max-width: 991px) {

	.topic .topic-desc,
	.topic img {
		width: 80%;
	}
}

/*************************************
*************** pagination ***********
************************************/
.active>.page-link {
	background-color: var(--color-grey-2);
	border-color: #c2c0c0;
	border-radius: 0;
}

.page-link {
	color: var(--color-grey-4);
	border-radius: 0 !important;
}

.page-item.disabled .page-link {
	background-color: var(--color-grey-1);
	color: var(--color-grey-2);
}
